*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 

.contenedor{
    display: grid;
    height: 50vh;
    /* border: solid 1px red; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 25px;
    margin: 20px;
    padding: 15px;
}


.item  {
    /* border: 1px solid blue; */
    color:transparent;
    
}

div{
    border-radius: 10px;
}

.item:nth-of-type(1){
    background-color: rgb(9, 151, 97);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; 
    
}

.item:nth-of-type(2){
    background-color: skyblue;
    grid-column-start: 3;
    grid-column-end: 6;
    border-radius: 10px;

}

.item:nth-of-type(5){
    background-color:rgb(216, 111, 172);
    grid-column-start: 1;
    grid-column-end: 3;

}

.item:nth-of-type(3){
    background-color:rgb(146, 76, 76);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4; 
}

.item:nth-of-type(4){
    background-color:rgb(7, 119, 82);
  
}

.item:nth-of-type(6){
    background-color:gray;
  
}
