/* tdos los elemenos tengan un borde*/
*{
    border: 1px solid red;
}

h1{
    color: peru;
    width: 50%;
    border: 1px solid blueviolet;
    height: 20%;
}
h2{
    color:#555;
}
h3{
    color: rgb(255, 85, 197);
}

p{
    background-color: hsl(300,50%,70%);
}

header {
    width: 400px;
    height: 200px;
}