body{
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 8px;
    margin: 15px; 

    
}
input {  
    margin: 2px;
    border: 1.5px solid rgb(204, 199, 199); 
}

#fname{
    width: 200px;
    height: 15px;
    margin: 2px;
    border: 1.5px solid rgb(204, 199, 199);
}
#age{
    width: 200px;
    height: 15px;
    margin: 2px;
    border: 1.5px solid rgb(204, 199, 199);
}
#income{
    width: 200px;
    height: 18px;
    margin: 2px;
    border: 1.5px solid rgb(204, 199, 199);
}

textarea{
    width: 200px;
    border: 1.5px solid rgb(204, 199, 199); 
    margin: 2px;
}
form >label{
    /*padding: 7px;*/
    margin: 2px;
    font-size: 9px;          
}

.seleccion{ 
    font-size: 10px;
    margin: 2px;
    border-radius: 4px;   
    width: 200px;
    height: 20px; 
    border: 1.5px solid rgb(204, 199, 199);
     
}

.update{
    background-color: rgb(50, 95, 230);
    color: white;
    font-size: 10px;
}

.centrar{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;

}
