*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border:solid 1px blue;

}

header{
    background-color: black;
    color: white;
    

}

.contenedor{
    
    background-color: black;
    
}

img{
    margin: 15px 15px;
}

.imagessn {
    margin: 3px 3px;
    
    
}

.primer{
    
    display: flex;
    
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: red;
    text-align: center;
    justify-content:center;
}

.primer h5{
    margin: 10px;
    text-align: center;
}

.primer h2{
    background-color: gray;
    margin:25px;
}

.cuadrogrande{
    border: solid red;
    /* max-width: 900px auto; */
    margin: 0 auto;
    padding: 10px 10px;
}


.cuadros{
    /* ppadding: 12px; */
    display: flex;
    justify-content: space-between;
     
}

.cuadrito{
    
    padding: 10px;
    min-width: 500px;
    background-color: red;
    text-align: center;   
}

.cuadrito > img{
    margin:30px;
}

.cuadrito > h3{
    margin: 15px;
}



/* .cuadrito:nth-sof-type(2){
    background-image: linear-gradient(45deg,#3DADA4,#C71FE6);
    color: white;} */

    @media screen and(max-width: 600px) {
        .cuadrogrande{
            display: flex;
            flex-direction: colum;
            align-items: center;
        }
        
    }