*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border:solid 1px blue; */

}

header{
    color: white;
}

.contenedor{
    
    background-color: black;   
}

img{
    margin: 15px 15px;
}

/* .imagen {
    margin: 113px 3px;
    
    
} */

.primer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* background-color: red; */
    text-align: center;
    justify-content:center;
}

.primer h5{
    margin: 10px;
    text-align: center;
}

.primer h2{
    background-color: gray;
    margin:25px;
}


/* TODO LA SECCION DE LOS DIVS*/

.cuadrogrande{
    /* border: solid green; */
    /* max-width: 900px auto; */
    margin: 0 auto;
    padding: 10px 10px;
}


.cuadros{
    /* ppadding: 12px; */
    /* border: solid 3PX purple; */
    display: flex;
    justify-content: space-between;
     
}

.cuadrito{
    
    padding: 10px;
    min-width: 280PX;
    /* height: 700PX; */
    /* background-color: red; */
    text-align: center;
    
    border: solid rgb(212, 209, 209);
    box-shadow: 0 0;
 
}

.cuadrito > img{
    margin:30px;
}

.cuadrito > h3{
    margin: 15px;
}

.cuadros .cuadrito{
    margin: 5px;
}

 @media screen and (max-width:480px){
    .cuadros{
        
        flex-direction: column;
    }
    .cuadrito{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: green; */
    }
    
}

/* @media screen and (max-width:900px){
    .cuadros{
        flex-direction: column;
    }
    .cuadrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: pink;
    }
    
} */ 

/* @media screen and (max-width:700px){
    .cuadros{
        flex-direction: column;
        background-color: red;
    }
    .cuadrito{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: red;
    }
    
} */