.centrar{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
label{
    color:red;
    font-size: 12px;
    margin:212px:
}

input {    
    border: 1px solid rgb(204, 199, 199);
    border-radius: 3px;
    width: 200px; 
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}
textarea{
    background-color: red;
    width: 200px;
    border-radius: 3px;
}

.submit{
    background-color: rgb(50, 95, 230);
    color: white;
    font-size: 10px;
}