/*
body{
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 11px;
    margin: 7px; 
}
*/
text{
    margin: 6px;
    border: 1.5px blue; /*solid rgb(204, 199, 199);*/
    width: 110px;
    size: 12px;
    background-color: red;
    padding: 11117px;
    text-transform: uppercase;
}

input {
    background-color: #fff;  
    margin: 6px;
    border: 1.5px solid rgb(204, 199, 199); 
}


textarea{
    
    width: 230px;
    border: 1.5px solid rgb(204, 199, 199); 
    margin: 7px;
}
form >label{
    padding: 7px;
    font-size: 11px;
    color:violet;     
}

.seleccion{ 
    margin: 7px;
    border-radius: 4px;
    width: 230px;
    color:greenyellow;  
    border: 1.5px solid rgb(204, 199, 199); 
}